@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.css-46bh2p-MuiCardContent-root {
  padding-top: 0px !important;
}
.ql-container {
  border: none !important;
  box-shadow: none !important;
  background-color: white;

 
}
.live-container{
  width: 40vw;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin-left: 5px;

}
.editor-section{
  height: auto;
  overflow: hidden;
  min-height: 200px;

}
.editor-input-title{
  margin-bottom: 10px;
  min-height: 50px;
  height: auto;
  outline: none;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.7px;
  word-wrap: wrap;
  white-space:pre-wrap;
height: auto;


}

.editor-input-title::placeholder{
  color: rgb(90, 78, 78);
font-style: oblique;
font-weight: bold;
letter-spacing: 2px;
}


.postCard .css-185gdzj-MuiCardHeader-root{
  padding-top: 0 !important;
}
.desc{
  display: flex;
}
.editor-header{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 75%;
 
}
textarea{
outline: none;

}

.header-action{
  display: flex;
  align-items: center;
}

article{
  width: 100%;
}
